
friendSmasher.xcodeproj/xcuserdata/waynelu.xcuserdatad/xcschemes/xcschememanagement.plist

friendSmasher.xcodeproj/xcuserdata/waynelu.xcuserdatad/xcschemes/friendSmasher.xcscheme

friendSmasher.xcodeproj/project.xcworkspace/xcuserdata/waynelu.xcuserdatad/UserInterfaceState.xcuserstate

friendSmasher.xcodeproj/project.xcworkspace/xcuserdata/waynelu.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

friendSmasher.xcodeproj/project.xcworkspace/xcuserdata/waynelu.xcuserdatad/UserInterfaceState.xcuserstate

.DS_Store
